BasedOnStyle: Google
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: No
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -2
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
SortIncludes: true
